# Datasets (medical data)
Malaria cell images/
Malaria cell images.zip
data/
results/
test_images/

# Python
__pycache__/
*.pyc
venv/

# Models (keep ONLY exported medical model if needed)
models/*.keras

# OS
.DS_Store
